{% extends "notes/base.html" %}

{% load static %}

{% block css_addition %} <link rel="stylesheet" href="{% static 'notes/css/notes.css' %}"> {% endblock css_addition %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
  <table style="width:40%">
    <caption><h1>Notes</h1></caption>
<tr>
  {% for category in categories %}
    <th><h2> Note title </h2></th>
    <th><h2> Note text </h2></th>
    <th><h2> Category id </h2></th>
  </tr>
    <tr style="height:50px">
    {% for note in category.note_set.all %}
      <td><h4>{{note.title}}</h4></td>
        <td style="width:40%"><p>{{note.text}}</p></td>
      <td><p>{{note.cat_id}}</p></td>
      </tr>
    {% endfor %}
  {% endfor %}
    </table>
{% endblock %}